.wrapper {
  display: flex;
}

.edit-box {
  width: 50%;
}

#result-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.sample-box {
  background-color: lightpink;
  width: 200px;
  height: 200px;
}

#reflect-button {
  margin: 0px 10px 0px 100px;
}

table {
  margin: 20px 0px;
}
